// Fonts
@import url("https://fonts.googleapis.com/css?family=Jost:300,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Oxygen:regular,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";

// Blocks
@import "blocks/header/header";
@import "blocks/main-screen/main-screen";
@import "blocks/footer/footer";

// Components
@import "components/menu";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{
		display: none;
	}
}

.btn {
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	color: #313131;
	border-radius: 7px;
	text-transform: capitalize;
	box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
	background-color: #000000;
	background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
}

::placeholder {
	color: #919191;
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
}

.search {

	// .search__form

	&__form {
		display: flex;
	}

	// .search__form-input

	&__form-input {
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		border-radius: 7px 0px 0px 7px;
		padding: 16px 19px;
		color: #919191;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
	}

	// .search__form-btn

	&__form-btn {
		margin: 0px 0px 0px -2px;
		padding: 0px 15px;
		background-color: #ffffff;
		border-radius: 0px 7px 7px 0px;
		border: 1px solid #eeeeee;
		border-left: none;
		font-size: 20px;
	}
}
