// Fonts
@import url("https://fonts.googleapis.com/css?family=Jost:300,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Oxygen:regular,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";
@import "partials/animation";

// General Blocks
@import "blocks/pricing-card-horizontally";
@import "blocks/pricing-card-vertically";
@import "blocks/buttons";

// Blocks
@import "blocks/header/header";
@import "blocks/main-screen/main-screen";
@import "blocks/about";
@import "blocks/counters";
@import "blocks/speakers";
@import "blocks/attend";
@import "blocks/schedule";
@import "blocks/last-year";
@import "blocks/testimonials";
@import "blocks/error";
@import "blocks/informed";
@import "blocks/map";
@import "blocks/footer/footer";

// Components
@import "components/menu";
@import "components/breadcrumb";
@import "components/tabs";
@import "components/swiper";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{
		display: none;
	}
}

/* .btn {
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	color: #313131;
	border-radius: 7px;
	text-transform: capitalize;
	box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
	background-color: #000000;
	background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
} */

::placeholder {
	color: #919191;
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
}

.search {

	// .search__form

	&__form {
		display: flex;
	}

	// .search__form-input

	&__form-input {
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		border-radius: 7px 0px 0px 7px;
		padding: 16px 19px;
		color: #919191;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
	}

	// .search__form-btn

	&__form-btn {
		margin: 0px 0px 0px -2px;
		padding: 0px 15px;
		background-color: #ffffff;
		border-radius: 0px 7px 7px 0px;
		border: 1px solid #eeeeee;
		border-left: none;
		font-size: 20px;
	}
}

.section {
	padding: 150px 0px 135px 0px;

	h1 {
		color: #313131;
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0.36px;
		margin: 0px 0px 40px 0px;
	}

	&__row {
		display: flex;
	}
	&__column {
		display: flex;
		flex-direction: column;

		align-items: flex-start;
		flex: 0 1 16.666%;

		&--tabs {
			flex: 0 1 50%;
		}
	}

	&__block {
		margin: 0px 0px 30px 0px;

		&:last-child {
			margin: 0;
		}

		&>a {
			margin: 0px 0px 15px 0px;

			&:last-child {
				margin: 0;
			}
		}
	}
}

.title {
	
	&__main {
		position: relative;
		z-index: 1;
		display: inline-flex;
		justify-content: center;
		font-size: 48px;
		font-weight: 700;
		text-transform: capitalize;
		letter-spacing: 0.48px;
	
		@media (max-width: $md1+px) {
			font-size: 44px;
		}
	
		@media (max-width: $md2+px) {
			font-size: 42px;
		}
	
		@media (max-width: $md3+px) {
			font-size: 40px;
		}
	
		@media (max-width: $md4+px) {
			font-size: 36px;
		}

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			display: inline-block;
			width: 80%;
			height: 10px;
			border-radius: 7px;
			left: 0;
			bottom: 3px;
			background-image: linear-gradient(to left, #fff 0%, #36f2e3 100%);
			opacity: 0.6;
	
			@media (max-width: $md3+px) {
				bottom: 2px;
			}
		}
		
		span {
			text-transform: uppercase;
		}

		&--theme-white {
			color: #ffffff;
		}
	
		&--theme-black {
			color: #313131;
		}
	}

	&__descr {

	}

}

.hero {
	background-color: #f9f9f9;
	padding: 210px 0px 90px;
	text-align: center;

	@media (max-width: $md1+px) {
		padding: 140px 0px 60px;
	}

	@media (max-width: $md3+px) {
		padding: 110px 0px 30px;
	}

	@media (max-width: $md4+px) {
		padding: 90px 0px 30px;
	}
	// .hero__title

	&__title {
		margin: 0px 0px 30px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .hero__breadcrumbs

	&__breadcrumbs {
		display: flex;
		justify-content: center;
	}
}
