// Fonts
@import url("https://fonts.googleapis.com/css?family=Jost:300,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Oxygen:regular,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";
@import "partials/animation";

// General Blocks
@import "blocks/pricing-card-horizontally";
@import "blocks/pricing-card-vertically";
@import "blocks/btn";

// Blocks
@import "blocks/header/header";
@import "blocks/header/search";
@import "blocks/main-screen/main-screen";
@import "blocks/main-screen/main-screen-v3";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/counters";
@import "blocks/speakers-v1";
@import "blocks/speakers-v2";
@import "blocks/speakers-v3";
@import "blocks/speaker-profile";
@import "blocks/icon-boxes";
@import "blocks/schedule";
@import "blocks/schedule-v2";
@import "blocks/single-session";
@import "blocks/last-year";
@import "blocks/testimonials";
@import "blocks/error";
@import "blocks/informed";
@import "blocks/contact";
@import "blocks/faq";
@import "blocks/alert-boxe";
@import "blocks/coming-soon";
@import "blocks/about-tickets";
@import "blocks/call-action";
@import "blocks/sponsors";
@import "blocks/blog-lists";
@import "blocks/highlights-tooltips-listings";
@import "blocks/blog-lists";
@import "blocks/dropcaps-blockquotes";
@import "blocks/page-contact-v1";
@import "blocks/page-contact-v2";
@import "blocks/tables";
@import "blocks/grid-gallery";
@import "blocks/location";
@import "blocks/latest-updates";
@import "blocks/take-part";
@import "blocks/progess-bars";
@import "blocks/footer/footer";
@import "blocks/footer/footer-v3";

// features-page
@import "blocks/features-page/features-page";
@import "blocks/features-page/features-alert-boxes";
@import "blocks/features-page/features-buttons";

// Components
@import "components/menu";
@import "components/breadcrumb";
@import "components/tabs";
@import "components/accordion";
@import "components/swiper";
@import "components/scroll-up";
@import "components/countdown";
@import "components/tooltip";
@import "components/title";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
.padding {
	padding: 135px 0px;

	@media (max-width: $md1+px) {
		padding: 80px 0px;
	}

	@media (max-width: $md2+px) {
		padding: 60px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 50px 0px;
	}
}
.padding-bg {
	padding: 290px 0px;
	margin: -100px 0px;

	@media (max-width: $md1+px) {
		margin: -120px 0px;
	}

	@media (max-width: $md4+px) {
		margin: -220px 0px;
		padding: 300px 0px;
	}
}
.page {
	flex: 1 1 auto;
}
.main__about {

	@media (max-width: 1200px) {
		margin: -200px 0px 0px 0px;
	}

	@media (max-width: $md3+px) {
		margin: 0px 0px 0px 0px;
	}

}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{
		display: none;
	}
}
.highlights {
	background: #313131;
	color: #ffffff;
	padding: 0px 4px;
}
/* .btn {
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	color: #313131;
	border-radius: 7px;
	text-transform: capitalize;
	box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
	background-color: #000000;
	background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
} */

input,
textarea {
	width: 100%;
	box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
	border: 1px solid #eeeeee;
	border-radius: 7px;
	background-color: #ffffff;
	color: #919191;
	font-family: "Oxygen";
	font-size: 16px;
	font-weight: 400;

	&::placeholder {
		color: #919191;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
	}
}
textarea {resize: none;padding: 16px 20px;}
input {padding: 0px 20px;}

/* &::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	transform: translateY(10px);
	width: 100%;
	height: 1px;
	background: #936cc1;
	opacity: 0;
	transition: all .3s;
}

@media (min-width: $md2+px) {
	&:hover::after {
		opacity: 1;
		transform: translateY(0px);
	}
} */

.call-actions,
.all-counters  {
	padding: 140px 0px;

	// .call-actions__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: 0.36px;
		margin: 0px 0px 40px 0px;
	}
}

.socials {

	// .socials__list

	&__list {
		display: flex;
	}

	// .socials__list-item

	&__list-item {
	}

	// .socials__list-link

	&__list-link {
		color: #313131;
		font-size: 20px;
		font-weight: 400;
		opacity: 0.7;
		transition: color .3s, opacity .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #313131;
				opacity: 1;
			}
		}
	}
}

.features-page {

	// .features-page__title

	&__title {

		.title__main {
			margin: 0px 0px 40px 0px;
		}
	}

	// .features-page__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .features-page__column

	&__column {
		flex: 0 1 50%;
		padding: 15px;

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}

	// .progess-bars__progress-bar

	&__progress-bar {
		margin: 0px 0px 115px 0px;
	}

	// .progess-bars__tables

	&__tables {
		margin: 0px 0px 115px 0px;
	}
}

.page-grid-gallery {
	padding: 140px 0px;

	&__item {
		margin: 0px 0px 115px 0px;

		&:last-child {
			margin: 0;
		}
	}
}

.masonry-gallery {

	// .masonry-gallery__row

	&__row {
		display: flex;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		&--bg {

			@media (max-width: 768px) {
				flex-direction: row;
			}
		}

		&--gap {
			margin: 0px -15px;

			@media (max-width: 1300px) {
				margin: 0px -10px;
			}
	
			@media (max-width: 768px) {
				margin: -10px;
			}
		}

		&--gap-sm {
			margin: 0px -7.5px;

			@media (max-width: 1300px) {
				margin: 0px -5px;
			}
	
			@media (max-width: 768px) {
				margin: -5px;
			}
		}
	
	}

	// .masonry-gallery__row-wrap

	&__row-wrap {
		flex-flow: row wrap;

		&--gap {
			margin: -15px;

			@media (max-width: 1300px) {
				margin: -10px;
			}

		}

		&--gap-sm {
			margin: -7.5px;

			@media (max-width: 1300px) {
				margin: -7.5px;
			}
	
		}
	}	  

	// .masonry-gallery__column

	&__column {

		&--gap {
			padding: 0px 15px;

			@media (max-width: 1300px) {
				padding: 0px 10px;
			}
	
			@media (max-width: 768px) {
				padding: 10px;
			} 
		}
		&--gap-sm {
			padding: 0px 7.5px;

			@media (max-width: 1300px) {
				padding: 0px 5px;
			}
	
			@media (max-width: 768px) {
				padding: 5px;
			} 
		}

		&--bg {
			flex: 1 1 auto;
	
			@media (max-width: 768px) {
				flex: 0 1 100%;
			}
		}
	
		&--sm {
			flex: 0 1 31%;
	
			@media (max-width: 768px) {
				flex: 0 1 100%;
			} 
		} 

		&--1 {
			flex: 0 1 50%;
		}
		&--2 {
			flex: 0 1 25%;

			@media (max-width: $md2+px) {
				flex: 0 1 50%;
			}
		}
		&--3 {
			flex: 0 1 25%;

			@media (max-width: $md2+px) {
				flex: 0 1 50%;
			}
		}
	}

	// .masonry-gallery__block

	&__block {
		flex: 0 1 50%;

		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}

		&--wide {
			flex: 0 1 100%;
		}

		&--gap {
			padding: 15px;

			@media (max-width: 1300px) {
				padding: 10px;
			}
	
			@media (max-width: 768px) {
				padding: 10px;
			}
		}

		&--gap-sm {
			padding: 7.5px;

			@media (max-width: 1300px) {
				padding: 5px;
			}
	
			@media (max-width: 768px) {
				padding: 5px;
			}
		}

		&--gap-bg {
			flex: 0 1 100%;
		}
	}

	// .masonry-gallery__block-item

	&__block-item {
		position: relative;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 0px 0px 70.073% 0px;
		overflow: hidden;	

		&--high {
			padding: 0px 0px 165% 0px;

			@media (max-width: $md3+px) {
				padding: 0px 0px 60% 0px;
			}
		}

		&--high-no-gap {
			padding: 0px 0px 156.55% 0px;

			@media (max-width: $md3+px) {
				padding: 0px 0px 55% 0px;
			}
		}

		&--high-gap-sm {
			padding: 0px 0px 144% 0px;
		}
	
		&--wide {
			padding: 0px 0px 33.904% 0px;
		}

		&--wide-no-gap {
			padding: 0px 0px 35.167% 0px;
		}

		&--no-gap {
			padding: 0px 0px 70.334% 0px;
		}

		&--gap-md {
			padding: 0 0 71.545% 0;
		}

		&--gap-wide {
			padding: 0 0 35.2% 0;
		}

		&--gap-bg {
			padding: 0 0 71.545% 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}

.alert {
	position: fixed;
	width: 565px;
	right: 15px;
	bottom: 15px;
	transform: translateY(120px);
	opacity: 0;
	transition: all .3s;
	
	&--animation-1 {
		animation: downIn 1s 3s forwards;
	}
	&--animation-2 {
		animation: downIn 1s 7s forwards;
	}

	&--close {
		visibility: hidden;
		opacity: 0;
		display: none;
	}
}