.main-screen-v3 {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		height: 84px;
		width: 84px;
		background: url("../img/main-screen/ellipse_3.png") 0 0 no-repeat;
		right: 12%;
		top: 275px;

		@media (max-width: $md1+px) {
			top: 175px;
			right: 35px;
		}

		@media (max-width: $md2+px) {
			content: none;
		}
	}

	&::before {
		content: "";
		position: absolute;
		height: 545px;
		width: 545px;
		left: 115px;
		bottom: -37%;
		z-index: 1;
		background: url("../img/main-screen/ellipse_2.png") 0 0 no-repeat;

		@media (max-width: $md1+px) {
			bottom: -52%;
			left: 30px;
		}

		@media (max-width: $md2+px) {
			content: none;
		}
	}
	
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// .main-screen-v3__content

	&__content {
		position: relative;
		text-align: center;
		margin-left: auto;
		max-width: 570px;
		z-index: 1;
		padding: 375px 0px 285px 0px;

		@media (max-width: $md1+px) {
			padding: 200px 0 180px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 190px 0 180px 0px;
		}

		@media (max-width: $md4+px) {
			padding: 190px 0 130px 0px;
		}
	}

	// .main-screen-v3__title

	&__title {
		color: #fff;
		font-family: Jost;
		font-size: 72px;
		font-weight: 700;
		line-height: 90px;
		margin: 0px 0px 20px 0px;

		@media (max-width: $md1+px) {
			font-size: 60px;
			line-height: 70px;
			margin: 0 0 15px 0;
		}

		@media (max-width: $md3+px) {
			font-size: 55px;
			line-height: 65px;
			margin: 0px 0 10px 0;
		}

		@media (max-width: $md4+px) {
			font-size: 45px;
			line-height: 55px;
		}

		span {
			display: block;
		}
	}

	// .main-screen-v3__date

	&__date {
		color: #2bbfb3;
		font-family: Oxygen;
		font-size: 24px;
		font-weight: 400;
		margin: 0px 0px 60px 0px;

		@media (max-width: $md1+px) {
			margin: 0 0 45px 0;
		}

		@media (max-width: $md3+px) {
			margin: 0 0 35px 0;
		}

		@media (max-width: $md4+px) {
			margin: 0 0 30px 0;
			font-size: 20px;
		}
	}

	// .main-screen-v3__btn

	&__btn {
		padding: 21px 47px;
	}
}
