.breadcrumb {
	overflow: auto;
	height: 25px;
	// .breadcrumb__list

	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;

		li {
			position: relative;
			margin: 0px 4px 0px 0px;
			padding: 0px 11px 0px 0px;

			&::after {
				content: "/";
				position: absolute;
				right: 0;
			}
			
			&:last-child {
				margin: 0;
				padding: 0;

				&::after {
					content: none;
				}
			}
		}
	}

	// .breadcrumb__link

	&__link {
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.7px;
		color: #313131;
		transition: color .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color:  #936cc1;
			}
		}
	}

	// .breadcrumb__item

	&__item {
		color: #919191;
	}
}
