.checkbox {

	&__label {
		display: block;
		position: relative;
		padding-left: 45px;
		margin-bottom: 10px;
		cursor: pointer;
		color: #616161;
		font-family: Oxygen;
		font-size: 16px;
		line-height: 31px;
		font-weight: 400;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:last-child {
			margin: 0;
		}

		&:hover .checkbox__input ~ .checkbox__checkmark {
			background-color: #ffffff;
		}

		.checkbox__input:checked ~ .checkbox__checkmark {
			background-color: #ffffff;
		}

		.checkbox__input:checked ~ .checkbox__checkmark:after {
			display: block;
		}

		.checkbox__checkmark:after {
			top: 7px;
			left: 7px;
			width: 15px;
			height: 15px;
			background: #313131;
		}
		.checkbox__checkmark--radio:after {
			border-radius: 100%;
		}
	}

	&__label-link {
		display: inline-block;
		color: #936cc1;
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		margin: 0px 0px 0px 5px;
		letter-spacing: 0.14px;
		border-bottom: 1px solid transparent;
		transition: border .3s;

		@media (min-width: $md2+px) {
			&:hover {
				border-bottom: 1px solid #936cc1;
			}
		}
	}

	&__label-title {
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		color: #616161;

		span {
			display: block;
			color: #616161;
			font-family: Oxygen;
			font-size: 16px;
			line-height: 18px;
			font-weight: 400;
			padding: 5px 0px 0px 0px;

			@media (max-width: $md4+px) {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 30px;
		width: 30px;
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		transition: background-color .3s;

		&--radio {
			border-radius: 50%;
		}

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
}
