.menu {

	@media (max-width: $md2+px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 150px 15px;
		overflow: auto;
		display: block;
		text-align: center;
		background-color: rgba(#fff, .9);
		transform: translateY(-100%);
		transition: transform 0.6s ease 0s;

		&.menu.active {
			transform: translateY(0%);
		}
	}
	// .menu__list

	&__list {
		display: flex;
		position: relative;
		z-index: 3;

		@media (max-width: $md2+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		position: relative;
		margin: 30px 40px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 30px 30px 0px 0px;
		}

		@media (max-width: $md2+px) {
			margin: 10px 0px;
		}
		
		&::after {
			@media (min-width: $md2+px) {
				content: "";
				position: absolute;
				left: 0;
				bottom: 25px;
				width: 100%;
				height: 1px;
				background: #313131;
				opacity: 0;
				transform: translateY(10px);
				transition: all .3s;
			}
		}

		@media (min-width: $md2+px) {			
			&:hover::after {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}

	// .menu__link

	&__link {
		position: relative;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.4px;
		font-family: 'Oxygen', sans-serif;
		color: #313131;
		text-transform: capitalize;
		padding: 0px 0px 30px 0px;

		@media (max-width: $md2+px) {
			font-size: 30px;
			padding: 15px 0px;
		}
	}

	// .menu__item-dropdown

	&__item-dropdown {

		@media (min-width: $md2+px) {
			&:hover {
				.menu__dropdown {
					visibility: visible;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		
	}

	// .menu__dropdown

	&__dropdown {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		left: -30px;
		top: 100%;
		width: 300px;
		border-radius: 7px;
		padding: 30px 27px;
		background: rgba(#212121, .9);
		transform: translateY(30px);
		transition: all .3s;
	}

	// .menu__dropdown-item

	&__dropdown-item {
		margin-bottom: 25px;

		&:last-child {
			margin: 0;
		}
	}

	// .menu__dropdown-link

	&__dropdown-link {
		color: #fff;
		font-size: 14px;
		border-bottom: 1px solid transparent;
		transition: all .3s;

		&:hover {
			@media (min-width: $md2+px) {
				border-bottom: 1px solid #fff;
			}
		}
	}

	// .menu__burger

	&__burger {
		display: none;

		@media (max-width: $md2+px) {
			display: block;
			position: absolute;
			width: 30px;
			height: 20px;
			right: 20px;
			top: 30px;
			cursor: pointer;
			z-index: 5;

			&.active{
				position: absolute;
			}

			&::after,
			&::before {
				content: "";
				background-color: #313131;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			span {
				position: absolute;
				background-color: #313131;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			
			&.active::before{
				transform: rotate(45deg);
				top: 9px;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}

		@media (max-width: $md4+px) {
			top: 20px;
		}

	}
}