.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	// .pagination__arrow

	&__arrow {
		color: #313131;
		font-size: 40px;

		&--left {
			margin: 0px 30px 0px 0px;

			&::before {
				content: "\e879";
				font-family: 'Linearicons-Free';
			}
		}

		&--right {
			margin: 0px 0px 0px 30px;

			&::before {
				content: "\e87a";
				font-family: 'Linearicons-Free';
			}
		}

		@media (min-width: $md2+px) {
			&:hover {
				color: #936cc1;
			}
		}
	}

	// .pagination__list

	&__list {
		display: flex;

		li {
			margin: 0px 30px 0px 0px;

			&:last-child {
				margin: 0;
			}
		}
	}

	// .pagination__link

	&__link {
		color: #313131;
		font-family: Oxygen;
		font-size: 24px;
		font-weight: 400;
		transition: color .3s;

		&--active {
			color: #936cc1;
		}

		@media (min-width: $md2+px) {
			&:hover {
				color: #936cc1;
			}
		}
	}

}
