.price-filter {

	&__slider {
		height: 13px;
		background-color: #eeeeee;
		margin: 0px 11px 28px;
		position: relative;
	
		&::before,
		&::after {
			position: absolute;
			content: "";
			background-color: #eeeeee;
			width: 9px;
			height: 13px;
			top: 0;
		}
	
		&::before {
			left: -9px;
			border-radius: 7px 0 0 7px;
		}
	
		&::after {
			right: -9px;
			border-radius: 0px 7px 7px 0;
		}

		.noUi-base {
			position: relative;
			height: 6px;
		}
	
		.noUi-origin,
		.noUi-connect  {
			will-change: transform;
			position: absolute;
			width: 10%;
			z-index: 1;
			height: 5px;
			top: 50%;

			right: 0;
			transform-origin: 0 0;
			transform-style: flat;
		}
	
		.noUi-connect {
			height: 100%;
			background-color: #ffffff;
			background-image: linear-gradient(to left, #f4c9df 0%, #c99cff 100%);
			width: 100%;
		}
	
		.noUi-handle {
			height: 24px;
			width: 24px;
			background-color: #fff;
			box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
			border: 7px solid #936cc1;
			border-radius: 50%;
			position: absolute;
			top: -9.5px;
			right: -10px;
			cursor: pointer;
		}
		
		.noUi-tooltip {
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%, 0%);
			font-size: 12px;
		}
	}

	&__values {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__values-prices {
		
	}

	&__values-text {
		color: #616161;
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.14px;
	}

	&__values-price {
		position: relative;
		color: #616161;
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.14px;

		&::before{
			content: "$";
			
		}
	}

	&__values-line {
		&::after {
			content: " - ";
			display: inline-flex;
		}
	}

	&__btn {
		padding: 10px 20px;
	}

}
