.scroll-up {
	position: fixed;
	z-index: 1000;
	bottom: 195px;
	right: 100px;
	width: 45px;
	height: 45px;
	display: flex;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
	opacity: 0;
	visibility: hidden;
	transition: .2s ease;
	transform: translateY(100px);

	@media (max-width: $md1+px) {
		bottom: 30px;
		right: 50px;
	}

	@media (max-width: $md2+px) {
		right: 20px;
	}

	&--active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}
