.swiper-slide {
	display: flex;
	
	&-active {

	}
}

.swiper-container {
	padding: 15px 0px 85px;
}


// pagination
.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	background: transparent;
	border: 2px solid turquoise;
	opacity: .7;

	&-active {
		background-color: turquoise;
	}
}

.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
}

// buttons 
.testimonials__slider .swiper-button-prev,
.testimonials__slider .swiper-button-next {
	background-color: transparent;
	color: #313131;
	top: 93%;

	// svg
/* 	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px; */

	@media (min-width: $md2+px) {
		&:hover {
			color: #019bad;

			&::after {
				color: #019bad;
			}
		}
	}
}
.testimonials__slider .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	left: 47%;
	transform: translateX(-47%);
}
.testimonials__slider .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	right: 47%;
	transform: translateX(-47%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
	position: absolute;
	font-family: "fontello";
	font-size: 24px;
	color: #313131;
	transition: color .3s;
	// svg
	/* display: none; */
}

.swiper-button-prev::after {
	content: "\e803";
}

.swiper-button-next::after {
	content: "\e804";
}

// numbers
.swiper-pagination-fraction {
	
}

.swiper-pagination-current {

}

.swiper-pagination-total {

}