.features-page {

	// .features-page__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0.36px;
		margin: 0px 0px 40px 0px;
		text-transform: capitalize;

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
			font-size: 33px;
		}
	}

	// .features-page__alert-boxes

	&__alert-boxes {
		margin: 0px 0px 115px 0px;
	}

	// .features-page__buttons

	&__buttons {
	}

	// .features-page__blog-lists

	&__blog-lists {

	}

	// .features-page__call-action 

	&__call-action {

	}

	// .features-page__dividers

	&__dividers  {
		margin: 115px 0px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 80px 0px 0px 0px;
		}
		@media (max-width: $md2+px) {
			margin: 70px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 60px 0px 0px 0px;
		}
		@media (max-width: $md4+px) {
			margin: 50px 0px 0px 0px;
		}
	}

	// .features-page__all-counters

	&__all-counters {
		padding: 135px 0px 0px;

		@media (max-width: $md1+px) {
			padding: 80px 0px 0px;
		}
	
		@media (max-width: $md2+px) {
			padding: 60px 0px 0px;
		}
	
		@media (max-width: $md4+px) {
			padding: 50px 0px 0px;
		}
	}

	// .features-page__countdowns

	&__countdowns {
		margin: 140px 0px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 100px 0px 0px 0px;
		}
		@media (max-width: $md2+px) {
			margin: 80px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 60px 0px 0px 0px;
		}
		@media (max-width: $md4+px) {
			margin: 50px 0px 0px 0px;
		}
	}

	// .features-page__image-boxes

	&__image-boxes {
	}

	// .progess-bars__progress-bar

	&__progress-bar {
		margin: 0px 0px 115px 0px;
	}

	// .progess-bars__tables

	&__tables {
		margin: 0px 0px 115px 0px;
	}

	// .progess-bars__speakers-v1

	&__speakers-v1 {
		margin: 0px 0px 105px 0px;
	}

	// .progess-bars__speakers-v2

	&__speakers-v2 {
		margin: 0px 0px 105px 0px;
	}

	// .progess-bars__tabs

	&__tabs {
		&:first-child {
			margin: 0px 0px 115px 0px;
		}
	}

	// .progess-bars__dropcaps

	&__dropcaps {
		margin: 0px 0px 115px 0px;

		&:last-child {
			margin: 0;
		}
		
	}

	// .progess-bars__tooltips-highlights

	&__tooltips-highlights {
		margin: 0px 0px 115px 0px;
	}

	&__testimonials {
		margin: 0px 0px 115px 0px;

		&:last-child {
			margin: 0;
		}
	}
}
