.features-accordions-toggles {

	// .features-accordions-toggles__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .features-accordions-toggles__column

	&__column {
		flex: 0 1 50%;
		padding: 15px;

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}
}
