.features-dividers {

	// .features-dividers__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .features-dividers__column

	&__column {
		flex: 0 1 50%;
		padding: 15px;

		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}
	}

	// .features-dividers__block

	&__block {
		margin: 0px 0px 28px 0px;

		&:last-child {
			margin: 0;
		}
	}

	// .features-dividers__item

	&__item {
		margin: 0px 0px 15px 0px;

		&:last-child {
			margin: 0;
		}
	}
}

