.single-page  {

	// .single-page __row

	&__row {
		display: flex;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	// .single-page __content

	&__content {
		position: relative;
		flex: 0 1 74%;
		padding: 137px 40px 105px 0px;

		@media (max-width: $md1+px) {
			padding: 80px 40px 80px 0px;
		}
	
		@media (max-width: $md2+px) {
			padding: 60px 0px 0px;
		}
	
		@media (max-width: $md4+px) {
			padding: 50px 0px 0px;
		}

		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 100%;
			background-color: #eeeeee;
			right: 0;
			top: 0;

			@media (max-width: $md2+px) {
				content: none;
			}
		}
	}

	// .single-page __aside

	&__aside {
		flex: 0 1 26%;
		padding: 137px 0px 80px 44px;

		@media (max-width: $md1+px) {
			padding: 80px 0px 60px 44px;
		}
	
		@media (max-width: $md2+px) {
			padding: 0px 0px 60px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0px -15px;
		}

		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	
		@media (max-width: $md4+px) {
			padding: 0px 0px 40px;
		}
	}
}