.session-article {

	// .session-article__title

	&__title {

		&.title {
			margin: 0px 0px 35px 0px;
			text-align: left;

			@media (max-width: $md4+px) {
				margin: 0px 0px 25px 0px;
			}
		}
	}

	// .session-article__img

	&__img {
		margin: 0px 0px 40px 0px;
		padding: 0px 0px 49.7% 0px;
		overflow: hidden;
		position: relative;

		@media (max-width: $md1+px) {
			padding: 0px 0px 45% 0px;
		}

		@media (max-width: $md4+px) {
			padding: 0px 0px 80% 0px;
			margin: 0px 0px 20px 0px;
		}
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #fffbb6;
			border-radius: 7px;
		}
	}

	// .session-article__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 0px 0px 35px 0px;
		border-bottom: 1px solid #eeeeee;

		@media (max-width: $md3+px) {
			flex-direction: column;
			padding: 0px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			
		}
	}

	// .session-article__column

	&__column {
		flex: 0 1 650px;

		@media (max-width: $md3+px) {
			flex: 0 1 auto;
		}

		&:first-child {
			padding: 0px 30px 0px 0px;
			flex: 0 1 300px;

			@media (max-width: $md3+px) {
				flex: 0 1 auto;
				display: flex;
				justify-content: space-between;
				padding: 0px 0px 0px 0px;
			}

			@media (max-width: $md4+px) {
				flex-direction: column;
			}
		}

	}

	// .session-article__date

	&__date {
		color: #313131;
		font-size: 24px;
		font-weight: 500;
		margin: 0px 0px 35px 0px;

		@media (max-width: $md3+px) {
			order: 2;
			font-size: 22px;
			margin: 0 0 30px 0;
		}

		span {
			padding: 10px 0px 0px 0px;
			display: block;
			color: #616161;
			font-family: Oxygen;
			font-weight: 400;
			font-size: 16px;
		}
	}

	// .session-article__author

	&__author {
		display: flex;

		@media (max-width: $md3+px) {
			order: 1;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .session-article__author-img

	&__author-img {
		margin: 0px 20px 0px 0px;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background-color: #1da7ba;
	}

	// .session-article__author-name

	&__author-name {
		color: #313131;
		font-size: 18px;
		font-weight: 500;
		margin: 8px 0px 0px 0px;
		transition: color .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #936cc1;
			}
		}

		@media (max-width: $md2+px) {
			margin: 3px 0px 0px 0px;
		}

		span {
			display: block;
			padding: 5px 0px 0px 0px;
			color: #919191;
			font-family: Oxygen;
			font-size: 13px;
			line-height: 18px;
			font-weight: 400;
		}

		a {
			color: #936cc1;
			border-bottom: 1px solid transparent;
			transition: all .3s;
	
			&:hover {
				@media (min-width: $md2+px) {
					border-bottom: 1px solid #936cc1;
				}
			}
		}
	}

	// .session-article__text

	&__text {
		color: #616161;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		text-align: left;
		letter-spacing: 0.16px;
		
		p {
			margin: 0px 0px 30px 0px;

			@media (max-width: $md1+px) {
				margin: 0px 0px 20px 0px;
				line-height: 28px;
			}

			&:last-child {
				margin: 0;
			}
		}
	}
}
.blog-article {
	border-bottom: 1px solid #eeeeee;
	margin: 0px 0px 40px 0px;
	padding: 0px 0px 30px 0px;
	// .blog-article__title

	&__title {

		&.title {
			margin: 0 0 20px 0;
	  }
	}

	// .blog-article__header

	&__header {
		display: flex;
		flex-wrap: wrap;
		color: #936cc1;
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.7px;
		margin: 0px 0px 40px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .blog-article__header-date

	&__header-date {
		position: relative;
		margin: 0px 19px 0px 0px;
		padding: 0px 0px 0px 30px;

		@media (max-width: 560px) {
			flex: 0 1 50%;
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: 400px) {
			flex: 0 1 100%;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url("../img/icons/calendar--violet.png") 0 no-repeat;
			height: 20px;
			width: 22px;
		}
	}

	// .blog-article__header-user

	&__header-user {
		position: relative;
		margin: 0px 19px 0px 0px;
		padding: 0px 0px 0px 30px;

		@media (max-width: 560px) {
			flex: 0 1 50%;
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: 400px) {
			flex: 0 1 100%;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url("../img/icons/user--violet.png") 0 no-repeat;
			height: 20px;
			width: 22px;
		}
	}

	// .blog-article__header-category

	&__header-category {
		position: relative;
		margin: 0px 19px 0px 0px;
		padding: 0px 0px 0px 30px;

		@media (max-width: 560px) {
			flex: 0 1 50%;
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: 400px) {
			flex: 0 1 100%;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url("../img/icons/folder--violet.png") 0 no-repeat;
			height: 20px;
			width: 22px;
		}
	}

	// .blog-article__header-comments

	&__header-comments {
		position: relative;
		padding: 0px 0px 0px 30px;

		@media (max-width: 560px) {
			flex: 0 1 50%;
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: 400px) {
			flex: 0 1 100%;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url("../img/icons/comments--violet.png") 0 no-repeat;
			height: 20px;
			width: 22px;
		}
	}

	// .blog-article__img

	&__img {
		position: relative;
		overflow: hidden;
		margin: 0px 0px 30px 0px;
		padding: 0px 0px 57% 0px;
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		background-color: #594174;
		border-radius: 7px;

		img {
			border-radius: 7px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .blog-article__text-row

	&__text-row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .blog-article__column

	&__column {
		flex: 0 1 50%;
		padding: 15px;

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}

	// .blog-article__text

	&__text {
		margin: 0px 0px 25px 0px;
	}

	// .blog-article__text-title

	&__text-title {
		color: #313131;
		font-size: 24px;
		font-weight: 500;
		margin: 0px 0px 20px 0px;
	}

	// .blog-article__gallery

	&__gallery {
		margin: 0px 0px 30px 0px;
	}

	// .blog-article__row

	&__gallery-row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .blog-article__column

	&__gallery-column {
		flex: 0 1 25%;
		padding: 15px;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
		}

		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}
	}

	// .blog-article__gallery-img

	&__gallery-img {
		padding: 0px 0px 82% 0px;
		overflow: hidden;
		position: relative;

		@media (max-width: $md2+px) {
			padding: 0px 0px 72% 0px;
		}

		img {
			background-color: #594174;
			object-fit: cover;
			border-radius: 7px;

			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .blog-article__footer

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .blog-article__footer-tags

	&__footer-tags {
		display: flex;
		align-items: center;
		padding: 15px;
	}

	// .blog-article__footer-title

	&__footer-title {
		color: #616161;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
		margin: 0px 15px 0px 0px;
	}

	// .blog-article__footer-list

	&__footer-list {
		display: flex;
		flex-wrap: wrap;

		li {
			margin: 0px 8px 8px 0px;
		}

		a {
			padding: 10px;
		}
	}

	// .blog-article__footer-share

	&__footer-share {
		padding: 15px;
		
		a {
			position: relative;
			color: #936cc1;
			font-family: Oxygen;
			font-size: 16px;
			font-weight: 400;
			border-bottom: 1px solid transparent;
			padding: 0px 30px 0px 0px;
			transition: border .3s;

			@media (min-width: $md2+px) {
				&:hover {
					border-bottom: 1px solid #936cc1;
				}
			}

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin: 0px 0px 0px 8px;
				background: url("../img/icons/share--violet.png") 0 no-repeat;
				height: 22px;
				width: 22px;
			}
		}
	}

}

.related-posts {

	// .related-posts__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 600;
		letter-spacing: 0.36px;
		margin: 0px 0px 40px 0px;
	}

	// .related-posts__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .related-posts__column

	&__column {
		flex: 0 1 50%;
		padding: 15px;		

		@media (max-width: 650px) {
			flex: 0 1 100%;
		}
	}
}
.next-article {

	// .next-article__row

	&__row {
		display: flex;
		justify-content: space-between;
	}

	// .next-article__column

	&__column {
		max-width: 240px;
	}

	// .next-article__column--left

	&__column--left {
		text-align: left;
	}

	// .next-article__column--right

	&__column--right {
		text-align: right;
	}

	// .next-article__btn

	&__btn {
		color: #936cc1;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
		border-bottom: 1px solid transparent;
		transition: all .3s;

		@media (max-width: $md4+px) {
			display: block;
		}

		@media (min-width: $md2+px) {
			&:hover {
				border-bottom: 1px solid #936cc1;
			}
		}
	}

	// .next-article__name-article

	&__name-article {
		display: block;
		color: #313131;
		font-family: Jost;
		font-size: 24px;
		line-height: 30px;
		font-weight: 500;
		margin: 20px 0px 0px 0px;
		transition: color .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #936cc1;
			}
		}

		@media (max-width: $md3+px) {
			font-size: 20px;
			 line-height: 25px;
			 margin: 15px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 16px;
			line-height: 21px;
			margin: 10px 0 0 0;
		}
	}

}
.comments {

	// .comments__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 600;
		letter-spacing: 0.36px;
		margin: 0px 0px 40px 0px;

		@media (max-width: $md3+px) {
			margin: 0 0 20px 0;
		}

		@media (max-width: $md4+px) {
			font-size: 30px;
		}
	}

	// .comments__item

	&__item {
		position: relative;
		display: flex;
		margin: 0px 0px 55px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 35px 0px;
		}

		&:last-child {
			margin: 0;
		}

		&--subcomments {
			margin: 0px 0px 55px 100px;

			@media (max-width: $md3+px) {
				margin: 0 0 45px 70px;
			}

			@media (max-width: $md4+px) {
				margin: 0px 0px 35px 50px;
			}

			&::before {
				content: "";
				position: absolute;
				top: -85px;
				left: -60px;
				background: url("../img/comments-line.png") no-repeat;
				width: 46px;
				height: 125px;

				@media (max-width: $md3+px) {
					left: -35px;
					width: 25px;
				}

				@media (max-width: $md4+px) {
					top: -95px;
					left: -25px;
					width: 15px;
				}
			}
		}
	}

	// .comments__img

	&__img {
		margin: 0px 20px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 10px 0px 0px;
		}

		img {
			width: 80px;
			height: 80px;
			border-radius: 100%;
			object-fit: cover;
			background-color: #1da7ba;

			@media (max-width: $md3+px) {
				width: 70px;
				height: 70px;
			}

			@media (max-width: $md4+px) {
				width: 50px;
				height: 50px;
			}
		}
	}

	// .comments__author

	&__author {
		color: #313131;
		font-size: 20px;
		font-weight: 500;
		margin: 5px 0px 15px 0px;

		@media (max-width: $md3+px) {
			margin: 5px 0px 10px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 18px;
			margin: 5px 0px 5px 0px;
		}
	}

	// .comments__date

	&__date {
		color: #919191;
		font-family: Oxygen;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		letter-spacing: 0.7px;
		margin: 0px 0px 20px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 13px;
			margin: 0px 0px 5px 0px;
		}
	}

	// .comments__date-link

	&__date-link {
		position: relative;
		padding: 0px 0px 0px 10px;
		color: #936cc1;
		letter-spacing: 0.7px;

		&::before {
			content: "|";
			position: absolute;
			left: 0;
			top: -2px;
			color: #919191;
		}
	}

	// .comments__text

	&__text {
		color: #616161;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;

		@media (max-width: $md4+px) {
			font-size: 14px;
			line-height: 24px;
		}
	}
}
.reply {

	// .reply__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 600;
		letter-spacing: 0.36px;
		margin: 0px 0px 40px 0px;

		@media (max-width: $md3+px) {
			margin: 0 0 20px 0;
		}

		@media (max-width: $md4+px) {
			font-size: 30px;
		}
	}

	// .reply__subtitle

	&__subtitle {
		color: #616161;
		font-family: Oxygen;
		font-size: 18px;
		line-height: 20px;
		font-weight: 400;
		margin: 0px 0px 50px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}

	// .reply__form

	&__form {
	}

	// .reply__form-input

	&__form-input {
		height: 45px;
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		margin: 0px 0px 15px 0px;
	}

	// .reply__form-textarea

	&__form-textarea {
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		margin: 0px 0px 30px 0px;
		height: 195px;
	}
}
.order-history {

	// .order-history__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 600;
		letter-spacing: 0.36px;
		margin: 0px 0px 30px 0px;
	}
}