.call-action {
	position: relative;
	
	// .call-action--theme-white
	&--theme-white {
		background-color: #ffffff;
	}
	
	// .call-action--theme-gradient
	&--theme-gradient {
		background-color: #ffffff;
		background-image: linear-gradient(-16deg, rgba(54, 242, 227, 0.8) 0%, rgba(230, 255, 175, 0.8) 100%);
	}
	
	// .call-action--theme-violet
	&--theme-violet {
		background-color: #594174;
	}

	// .call-action__bg

	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
			
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(29, 27, 26, 0.70);
		}
	}

	// .call-action__content

	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		// .call-action__content--vertically
		&--vertically {
			flex-direction: column;
			text-align: center;
		}

		// .call-action__content--horizontally
		&--horizontally {

			@media (max-width: $md4+px) {
				flex-direction: column;
				text-align: center;
			}

			.call-action__title {
				margin: 0px 213 / $maxWidthContainer * 100vw 0px 0px;
				
				@media (max-width: $md3+px) {
					margin: 0px 120 / $maxWidthContainer * 100vw 0px 0px;
				}

				@media (max-width: $md4+px) {
					margin: 0;
				}
			}
		}

	}

	// .call-action__btn
	&__btn {
		white-space: nowrap;
	}

}
