.cart-totals {

	// .cart-totals__title

	&__title {
		color: #313131;
		font-size: 36px;
		font-weight: 600;
		letter-spacing: 0.36px;
		margin: 0px 0px 30px 0px;
	}

	// .cart-totals__table

	&__table {
		margin: 0px 0px 30px 0px;
	}

	// .cart-totals__btn

	&__btn {
		text-align: right;
	}
}