.coming-soon {
	padding: 300px 0px 180px;
	background-color: #ffffff;
	background-image: linear-gradient(-184deg, rgba(230, 255, 175, 0.8) 0%, rgba(54, 242, 227, 0.8) 100%);
	
	@media (max-width: $md1+px) {
		padding: 240px 0px 180px;
	}

	@media (max-width: $md2+px) {
		padding: 190px 0px 130px;
	}

	@media (max-width: $md3+px) {
		padding: 170px 0px 110px;
	}

	@media (max-width: $md4+px) {
		padding: 150px 0px 90px;
	}
	// .coming-soon__title

	&__title {
		text-align: center;

		.title__main {
			margin: 0px 0px 40px 0px;
			@include adaptive-font(72, 36);

			@media (max-width: $md3+px) {
				margin: 0px 0px 30px 0px;
			}

			@media (max-width: $md4+px) {
				margin: 0px 0px 20px 0px;
			}
		}

		.title__descr {
			margin: 0px auto 100px auto;
			line-height: 30px;

			@media (max-width: $md2+px) {
				margin: 0px auto 70px auto;
			}

			@media (max-width: $md3+px) {
				margin: 0px auto 50px auto;
			}

			@media (max-width: $md4+px) {
				margin: 0px auto 30px auto;
			}
		}
	}

	// .coming-soon__countdown

	&__countdown {
		display: flex;
		justify-content: center;
	}
}