.counters {
	padding: 90px 0px;

	@media (max-width: $md1+px) {
		padding: 80px 0px;
	}

	@media (max-width: $md2+px) {
		padding: 60px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px;
	}

	&--theme-violet {
		background-color: #594174;
		color: #fff;
	}

	&--theme-gray {
		background-color: #f9f9f9;

		.counters__number {
			color: #313131;
			span {
				color: #919191;
			}
		}
	}
	// .counters__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .counters__column

	&__column {
		flex: 0 1 25%;
		padding: 15px;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
		}

		@media (max-width: 550px) {
			flex: 0 1 100%;
		}

	}

	// .counters__item

	&__item {
		display: flex;

		&--column {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		&--center {
			text-align: center;
			justify-content: center;
		}
	}

	// .counters__icon

	&__icon {
		position: relative;
		padding: 0px 0px 32px 0px;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 54px;
			height: 53px;

		}

		&--people {
			padding: 0px 0px 0px 72px;

			@media (max-width: $md2+px) {
				padding: 0px 0px 0px 85px;
			}
			&::after {
				background: url("../img/counters/people.png") 0 0 no-repeat;
			}
		}

		&--book {
			padding: 0px 0px 0px 72px;

			@media (max-width: $md2+px) {
				padding: 0px 0px 0px 85px;
			}
			&::after {
				background: url("../../img/counters/book.png") 0 0 no-repeat;
			}
		}

		&--world {
			padding: 0px 0px 0px 72px;

			@media (max-width: $md2+px) {
				padding: 0px 0px 0px 85px;
			}
			&::after {
				background: url("../../img/counters/world.png") 0 0 no-repeat;
			}
		}

		&--recorder {
			padding: 0px 0px 0px 72px;

			@media (max-width: $md2+px) {
				padding: 0px 0px 0px 85px;
			}
			&::after {
				background: url("../../img/counters/recorder.png") 0 0 no-repeat;
			}
		}
	}

	// .counters__number

	&__number {	
		font-size: 48px;
		font-weight: 300;
		margin: -10px 0px 0px 0px;

		span {
			display: block;
			padding: 5px 0px 0px 0px;
			font-family: "Oxygen";
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.75px;
		}
	}
}