.error {
	padding: 304px 0px 180px;
	background-color: #f9f9f9;

	@media (max-width: $md1+px) {
		padding: 164px 0 100px;
	}

	@media (max-width: $md3+px) {
		padding: 144px 0 100px;
	}

	@media (max-width: $md4+px) {
		padding: 104px 0 60px;
	}
	// .error__title

	&__title {
		text-align: center;
		font-family: Oxygen;

		.title__main {
			@include adaptive-font(326, 130);
			margin: 0px 0px 45px 0px;

			@media (max-width: $md1+px) {
				margin: 0px 0px 35px 0px;
			}

			@media (max-width: $md3+px) {
				margin: 0px 0px 25px 0px;
			}

			@media (max-width: $md4+px) {
				margin: 0px 0px 15px 0px;
			}
		}

		.title__descr {
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			margin: 0px auto 45px auto;
			
			@media (max-width: $md1+px) {
				font-size: 22px;
				line-height: 28px;
				margin: 0 auto 35px auto;
			}

			@media (max-width: $md3+px) {
				margin: 0 auto 25px auto;
			}

			@media (max-width: $md4+px) {
				font-size: 20px;
				line-height: 26px;
				margin: 0 auto 15px auto;
			}
		}
	}

	// .error__descr

	&__descr {
		margin: 0 auto 43px;
		max-width: 660px;
		color: #616161;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;

		@media (max-width: $md1+px) {
			margin: 0 auto 33px;
		}

		@media (max-width: $md4+px) {
			font-size: 14px;
			line-height: 23px;
			margin: 0 auto 20px;
		}
		
		a {
			color: #936cc1;
			border-bottom: 1px solid transparent;
			transition: border .3s;

			@media (min-width: $md2+px) {
				&:hover {
					border-bottom: 1px solid  #936cc1;
				}
			}
		}
	}

	// .error__form

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	// .error__form-input

	&__form-input {
		max-width: 552px;
		width: 100%;
		height: 45px;
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		color: #919191;
		font-family: Oxygen;
		font-size: 16px;
		font-weight: 400;
		padding: 0px 20px 0px 20px;
		border-radius: 7px;
		margin: 0px 4px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .error__form-btn

	&__form-btn {
		
		@media (max-width: $md4+px) {
			width: 100%;
		}
	}
}
