.hero {
	background-color: #f9f9f9;
	text-align: center;
	padding: 210px 0px 90px;

	@media (max-width: $md1+px) {
		padding: 140px 0px 60px;
	}
	
	&--size-sm {
		padding: 160px 0px 40px;

		@media (max-width: $md3+px) {
			padding: 130px 0px 40px;
		}
	}


	// .hero__title

	&__title {
		margin: 0px 0px 30px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .hero__breadcrumbs

	&__breadcrumbs {
		display: flex;
		justify-content: center;
	}
}