.speakers-v1 {
	position: relative;
	
	&--theme-white {
		background-color: #ffff;
	}

	&--theme-gray {
		background-color: #f9f9f9;
	}

	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	// .speakers-v1__content

	&__content {
		position: relative;
		z-index: 1;
		text-align: center;
	}

	// .speakers-v1__filter-btn

	&__filter {
		margin: 0px 0px 45px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 35px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	// .speakers-v1__filter-btn

	&__filter-btn {
		color: #313131;
		font-family: 'Oxygen';
		font-size: 14px;
		font-weight: 400;
		margin: 0px 15px 0px 0px;
		box-shadow: none;

		@media (max-width: $md4+px) {
			flex: 0 1 50%;
			margin: 0;
			padding: 15.5px 15px;
		}

		&:last-child {
			margin: 0;
		}
	}

	// .speakers-v1__row

	&__row {
		display: flex;
		flex-flow: row wrap;
		margin: -15px;
	}

	// .speakers-v1__column

	&__column {
		flex: 0 1 33.333%;
		padding: 15px;

		@media (max-width: $md3+px) {
			flex: 0 1 50%;
		}

		@media (max-width: 500px) {
			flex: 0 1 100%;
		}

	}

	// .speakers-v1__item

	&__item {
		padding: 45px 0px;
		transition: all .3s;

		@media (max-width: $md1+px) {
			padding: 35px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 25px 0px;
		}

		@media (max-width: 500px) {
			padding: 0px;
		}
		
		@media (min-width: $md2+px) {
			&:hover {
				box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
				background-color: #ffffff;

				.speakers-v1__item-img {
					&::after {
						opacity: 0.6;
					}
				}
			}
		}
	}

	// .speakers-v1__item-img

	&__item-img {
		position: relative;
		margin: 0 auto 40px;
		width: 340px;
		height: 340px;
		transition: all .3s;
		
		@media (max-width: $md1+px) {
			width: 240px;
			height: 240px;
			margin: 0 auto 30px;
		}

		@media (max-width: $md2+px) {
			width: 220px;
    		height: 220px;
		}

		@media (max-width: $md3+px) {
			margin: 0 auto 20px;
		}

		@media (max-width: $md4+px) {
			width: 200px;
			height: 200px;
		}

		&::after {
			content: "";
			display: block;    
			width: 100%;
			height: 100%;    
			position: absolute;
			top: 0;      
			left: 0;   
			border-radius: 100%;
			background: transparent;
			background-color: #1da7ba;
			background-image: linear-gradient(to left, #e6ffaf 0%, #36f2e3 100%);
			opacity: 0;
			transition: all .3s;
		}

		img {
			border-radius: 100%;
			object-fit: cover;
			filter: grayscale(100%);
			height: 100%;
			max-width: 100%;
		}
	}

	// .speakers-v1__item-name

	&__item-name {
		color: #313131;
		font-size: 24px;
		font-weight: 500;
		margin: 0px 0px 20px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .speakers-v1__item-job

	&__item-job {
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		color: #919191;
		letter-spacing: 0.7px;
		margin: 0px 0px 15px 0px;

		a {
			color: #936cc1;
			border-bottom: 1px solid transparent;
			transition: border .3s;
			
			@media (min-width: $md2+px) {
				&:hover {
					border-bottom: 1px solid #936cc1;
				}
			}
		}
	}

	// .speakers-v1__item-link

	&__item-link {
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		color: #936cc1;
		letter-spacing: 0.7px;
		border-bottom: 1px solid transparent;
		transition: border .3s;
		
		@media (min-width: $md2+px) {
			&:hover {
				border-bottom: 1px solid #936cc1;
			}
		}
	}

	// .speakers-v1__btn

	&__btn {
		margin: 35px 0px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 30px 0px 0px 0px;
		}
	}
}