.sponsors {

	// .sponsors__filter

	&__filter {
		margin: 0px 0px 45px 0px;
	}

	// .sponsors__filter-list

	&__filter-list {
		display: flex;

		@media (max-width: 530px) {
			flex-wrap: wrap;
		}
	}

	// .sponsors__filter-link

	&__filter-link {
		display: inline-block;
		padding: 15.5px 29.82px;
		border-radius: 7px;
		color: #313131;
		font-family: Oxygen;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.35px;

		&--active {
			box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
			background-image: linear-gradient(-16deg, #cccccc 0%, #f3f3f3 100%);
		}
	}

	// .sponsors__item

	&__item {
		text-align: center;
		margin: 0px 0px 50px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 35px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}

		&:last-child {
			margin: 0;
		}
	}

	// .sponsors__categories

	&__categories {
		color: #919191;
		font-family: "Oxygen";
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0px 20px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .sponsors__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;

		@media (max-width: $md4+px) {
			margin: -10px;
		}
	}

	// .sponsors__column

	&__column {
		padding: 15px;
		flex: 0 1 16.666%;

		@media (max-width: $md2+px) {
			flex: 0 1 33.333%;
		}

		@media (max-width: $md4+px) {
			flex: 0 1 50%;
			padding: 10px;
		}
	}

	// .sponsors__img

	&__img {
		display: flex;
		padding: 0px 0px 52.1% 0px;
		overflow: hidden;
		position: relative;
		background-color: #ffffff;
		border-radius: 7px;
		transition: box-shadow .3s;

		@media (min-width: $md2+px) {
			&:hover {
				box-shadow: 0 3px 27px rgba(0, 0, 0, 0.05);
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}